.App {
  background-color: #565c69;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  width: 100%;
}

.card {
  background-color: #ff8502;
}

#equals {
  height: 230%;
}

.row {
  padding-bottom: 7px;
  padding-top: 7px;
}

#display {
  background-color: black;
  padding-bottom: 20px;
  text-align: right;
}